* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
html::-webkit-scrollbar{
    /* hides the scrollbar, still can scroll */
    display: none;
}
#logoplace {
    text-align: center;
    width: auto;
    height: 20%;
    background-color: deepskyblue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    top: 50%
}

#logo {
    height: 85%;
    width: 45%;
    background-color: deepskyblue;
    display: inline-block;
    margin-top: 1%;
    align-content: center;
    align-self: center;
}


#details {
    width: auto;
    height:auto;
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
    text-align: left;
    top: 50%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

#details2 {
    width: auto;
       height:auto;

   background-color: deepskyblue;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

#footer {

    width: auto;
    height: auto;

   background-color: deepskyblue;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.navbar-nav {
    position: relative;
    align-content: center;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
}


.nav-item {
    align-content: center;
    display: inline;
    font-weight: bold;
    padding-right: 100px;
    padding-left: 100px;
    color: rgb(190, 1, 1);

}

.nav-item .hover {
    
    color:deepskyblue;

}
.page-footer{
    color: whitesmoke;
    display: block;
    align-content: center;
    font-weight: bolder;
    height: auto;
    /* padding: 5%; */
}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
  #logo, #details, #details2, #footer{
    width: 100%;
    padding: 20px;
    text-align: justify;
  }
  .nav-item{
      width: 100%;
      font-size: 20px;
      display: block;
      text-align: center;
  }
  .navbar-nav{
      width: 100%;
  }
}