* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#logoplace {
    text-align: center;
    width: auto;
    height: 25%;
    background-color: deepskyblue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    top: 50%
}
#logo{
    height: 80%;
    width:45%;
    background-color: deepskyblue;
    display: inline;
    
    margin-top: 1%;
/*    margin-left: -1%;*/
}


#details {
    width: auto;
    height: 37%;
    background-color: aliceblue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    top: 50%;
    



}

#details2 {
    width: auto;
    height: 37%;
    background-color:aquamarine;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

    


}

#footer {

    width: auto;
    height: 5%;
    background-color: white;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
   
}

.navbar-nav {
    position: relative;
    align-content: center;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;



}


.nav-item {
    align-content: center;
    display: inline;
    font-weight: bold;
    padding-right: 100px;
    padding-left: 100px;


}
