* {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#logoplace {
    text-align: center;
    width: auto;
    height: 25%;
    background-color: deepskyblue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    top: 50%
}

#logo {
    height: 80%;
    width: 45%;
    background-color: deepskyblue;
    display: inline;
    margin-top: 1%;
    
}


#details {
    width: auto;
    height:69%;
    background-color: #0072bc;
    color: white;
    font-weight: bold;
    text-align: left;
    top: 50%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;




}

#details2 {
    width: auto;
       height:69%;

   background-color: #0072bc;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;




}

#footer {

    width: auto;
        height:69%;

   background-color: #0072bc;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.navbar-nav {
    position: relative;
    align-content: center;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;



}


.nav-item {
    align-content: center;
    display: inline;
    font-weight: bold;
    padding-right: 100px;
    padding-left: 100px;
    color: slategrey;

}

.nav-item a:hover {
    
    
    color:#790000!important;


}